* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 50%;
  margin: 20px 5%;
  border-collapse: collapse;
  font-family: sans-serif;
}

th {
  border: solid 1px black;
  text-align: left;
}

td {
  border: solid 1px #AAA;
}

th, td {
  padding: 10px;
}

td:first-child {
  border-left: solid 1px black;
}

td:last-child {
  border-right: solid 1px black;
}

tr:last-child td {
  border-bottom: solid 1px black;
}

.zebra-striped tr:nth-child(2n + 1) td {
  background: #DDD;
}

.zebra-striped .input-row td {
  padding: 2px;
  background: white;
}

.input-row input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 16px;
}

input[type="submit"] {
  display: none;
}

.red-bar {
  height: 5px;
  background: red;
}

.red-bar.left {
  display: none;
}

td.invalid {
  border-left: solid 5px red;
}